body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 95%;
    background: rgb(42,170,52);
    background: radial-gradient(circle, rgba(42,170,52,1) 0%, rgba(6,54,6,1) 100%);
}
h1{
    text-align: center;
    color: #000;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 200px;
    width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 8px;
}
th{
    color:#036e15;
}
div.buttonbox{
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    right: 10px;
    text-align: center;
    top: 315px;
    font-size: 20px;
}
div.textupdates{
    width: 350px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 20%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
table{
    margin-top: 100px;
    margin-right: 600px;
}
.hidden{
    visibility: hidden;
}
.blackCard{
    font-weight: bold;
}
.redCard{
    color: red;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
li{
    list-style-type: none;
}
button{
    width: 400px;
    height: 100px;
    font-size: 28px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid #000000; /* black */    
    font-weight: bold;
    border-radius: 20%;
}

button#newGame{
    background-color: green;
    width: 100px;
    border-radius: 20%;
}

button#hit{
    background-color: green;
    width: 200px;
    border-radius: 20%;
}
button#stay{
    background-color: red;
    width: 260px;
    border-radius: 20%;
}
#tracker{
    margin-top: 130px;
    font-size: 30px;
}

#playerHand, #dealerHand{
    color: black;
}

